[submodule "_bitsnap_lib"]
	path = _bitsnap_lib
	url = https://gitlab.com/civil-electric/bitsnap-lib
	
[submodule "universal_display_board"]
	path = projects/universal_display_board
	url = https://gitlab.com/adammunich/universal_display_board
[submodule "projects/stm32_interrupter"]
	path = projects/stm32_interrupter
	url = https://gitlab.com/adammunich/stm32-interrupter
