[submodule "lib_bitsnap"]
	path = lib_bitsnap
	url = https://github.com/gigaj0ule/lib_bitsnap
	
[submodule "universal_display_board"]
	path = projects/universal_display_board
	url = https://gitlab.com/adammunich/universal_display_board
[submodule "projects/stm32_interrupter"]
	path = projects/stm32_interrupter
	url = https://gitlab.com/adammunich/stm32-interrupter
